header {
    @extend %flex-center, %container;

    nav {
        @extend %flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        ul, form {
            @extend %flex;
        }
    }

    background: $linear;
    height: 90px;
}
