header {
    @extend %flex-center;
    position: absolute;
    top: 0;
    z-index: 90;
    width: 100%;

    nav {
        @extend %flex;
        align-items: flex-end;
        justify-content: space-between;
        width: calc(col(11) - ratio-space(2px));

        ul, form {
            @extend %flex;

            input {
                background: none;
                border-bottom: solid 1px $white;
            }
        }
    }

    background: $reverse-linear;
    height: 90px;
}
