header {
    @extend %flex-center, %container;
    position: absolute;
    top: 0;
    z-index: 90;
    width: 100%;

    nav {
        @extend %flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        ul, form {
            @extend %flex;
        }
    }

    background: $reverse-linear;
    height: 90px;
}
