@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/** https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6 **/ /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, textarea, a, input::placeholder {
  outline: none;
  border: none;
  text-decoration: none;
}

a, button, input[type=submit] {
  cursor: pointer;
}

q:before {
  content: "« ";
}

q:after {
  content: " »";
}

* {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-sizing: border-box;
  z-index: 0;
}

html, body {
  scroll-behavior: smooth;
  font-family: Josefin Sans, sans-serif;
  font-size: 16px;
  color: #FFF;
  background: #2A2C2C;
}

img {
  max-width: 100%;
}

::selection {
  background-color: #D51F4B;
  color: #FFF;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  font-family: Asap, sans-serif;
  text-transform: uppercase;
}

h2, h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Asap, sans-serif;
  text-transform: capitalize;
  margin-bottom: 16px;
}

h3 {
  font-size: 1rem;
  margin-bottom: 32px;
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 3.75rem;
  }
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 2.8125rem;
  }
}
header {
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;
  background: linear-gradient(180deg, #2A2C2C 0%, rgba(42, 44, 44, 0) 100%);
  height: 90px;
}
header nav {
  align-items: flex-end;
  justify-content: space-between;
  width: calc(91.6666666667% - 16px);
}
header nav ul input, header nav form input {
  background: none;
  border-bottom: solid 1px #FFF;
}
@media only screen and (max-width: 768px) {
  header {
    display: none !important;
  }
}

.btn, button {
  background-color: #D51F4B;
  padding: 16px 24px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 600;
}

.search-btn {
  background: none;
  padding: 0;
  height: 40px;
  width: 40px;
}

.play-btn::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/play.svg");
  top: 0;
  left: 0;
  position: relative;
  display: inline-block;
}

aside {
  width: 25%;
  padding: 32px 0;
}
aside ul li {
  padding: 8px 16px;
  border-radius: 25px;
  font-weight: 400;
  background-color: #D51F4B;
}
aside ul li:nth-child(4n-1) {
  background-color: #80C7DC;
  color: #2A2C2C;
}
aside ul li:nth-child(2n+4), aside ul li:nth-child(2n) {
  background-color: #5A67A5;
}
aside ul li:nth-child(4n) {
  background-color: #DC7D8D;
}

footer {
  padding: 24px;
  text-align: center;
}

main#genres section .category .row, main#genres aside ul li, main#actor .container .right .movies .chronos ul, main#actor .container .right .general, main#movie .container .details p, main#movie .container, main#home section:nth-child(2) > a, main#home section:first-child .container, main#home section:first-child, header, header nav, header nav ul, header nav form, .play-btn, aside ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

main#actor .container, main#home section:nth-child(2), .slider {
  display: flex;
}

main#genres {
  padding: 0 16px;
}

header {
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 16px;
  width: 100%;
}

.slider {
  width: fit-content;
  left: 0;
  gap: 16px;
}
.slider .poster {
  width: 200px;
  height: 275px;
  overflow: hidden;
}
.slider .poster img {
  width: 100%;
  height: 100%;
}
.slider img {
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

main#movie .container .images::-webkit-scrollbar, main#home section:nth-child(2) .trends::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
main#movie .container .images::-webkit-scrollbar-track-piece, main#home section:nth-child(2) .trends::-webkit-scrollbar-track-piece {
  background: #D3C0CC;
  border-radius: 10px;
  margin: 25%;
}
main#movie .container .images::-webkit-scrollbar-thumb, main#home section:nth-child(2) .trends::-webkit-scrollbar-thumb {
  transition: 0.5s;
  background: #D51F4B;
  border-radius: 15px;
}
main#movie .container .images::-webkit-scrollbar-thumb:hover, main#home section:nth-child(2) .trends::-webkit-scrollbar-thumb:hover {
  background: #e75a7c;
}

main#home section:first-child {
  background: 50% 15%/cover url("https://image.tmdb.org/t/p/original/rlCRM7U5g2hcU1O8ylGcqsMYHIP.jpg");
  height: 45vh;
  position: relative;
  align-items: flex-end;
}
main#home section:first-child .container {
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 64px 8.3333333333%;
}
main#home section:first-child .container h1 {
  max-width: 75%;
}
main#home section:first-child::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(42, 44, 44, 0) 0%, #2A2C2C 100%);
  z-index: -1;
}
main#home section:nth-child(2) {
  justify-content: space-between;
  padding-left: 16px;
  position: relative;
}
main#home section:nth-child(2) .trends {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  overflow: auto hidden;
  position: relative;
  margin-left: 16px;
}
main#home section:nth-child(2) .trends h3 {
  position: fixed;
}
main#home section:nth-child(2) .trends .slider {
  margin-top: 48px;
}
main#home section:nth-child(2) > a {
  position: absolute;
  bottom: 0;
  right: 16px;
}
@media only screen and (max-width: 1200px) {
  main#home section:first-child .container {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 992px) {
  main#home section:first-child {
    height: 45vh;
  }
  main#home section:first-child .container {
    flex-direction: column;
    align-items: flex-start;
  }
}

main#movie {
  background: top/cover url("https://image.tmdb.org/t/p/original/rlCRM7U5g2hcU1O8ylGcqsMYHIP.jpg");
  height: 100vh;
  overflow: hidden;
  position: relative;
}
main#movie::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(42, 44, 44, 0) 0%, #2A2C2C 100%);
  z-index: -1;
}
main#movie .container {
  height: 100%;
  align-items: center;
}
main#movie .container .left, main#movie .container .right {
  width: calc(50% - 8px);
}
main#movie .container .details h1 {
  margin-bottom: 16px;
}
main#movie .container .details p {
  gap: 32px;
  margin-bottom: 16px;
}
main#movie .container .details button {
  margin-top: 48px;
}
main#movie .container .images {
  width: 50%;
  position: relative;
  overflow: auto hidden;
  padding-bottom: 16px;
}
main#movie .container .images img {
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
main#movie .container .actors {
  margin-top: 16px;
}
main#movie .container .actors .slider {
  flex-wrap: wrap;
}
main#movie .container .actors .slider .actor {
  width: 125px;
  text-align: center;
}
main#movie .container .actors .slider .actor img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  main#movie .container .left, main#movie .container .right {
    width: 100%;
  }
  main#movie .container .images {
    width: 100%;
  }
}

main#actor {
  margin-top: 130px;
  overflow: hidden;
}
main#actor .container .left {
  width: 41.6666666667%;
  text-align: center;
}
main#actor .container .left img {
  width: 25%;
  margin: auto;
  height: 500px;
  object-fit: cover;
}
main#actor .container .left .details {
  margin-top: 32px;
  text-align: left;
}
main#actor .container .right {
  width: 58.3333333333%;
  padding-left: 16px;
}
main#actor .container .right .general li {
  width: 25%;
}
main#actor .container .right .general li h3 {
  margin-bottom: 8px;
}
main#actor .container .right .movies {
  margin-top: 32px;
  max-height: 400px;
  overflow-y: scroll;
  padding-bottom: 16px;
}
main#actor .container .right .movies .populars {
  padding-bottom: 16px;
  margin-bottom: 16px;
}
main#actor .container .right .movies .chronos {
  width: 50%;
}
main#actor .container .right .movies .chronos ul li {
  width: calc(50% - 8px);
}
main#actor .container .right .movies::-webkit-scrollbar {
  margin-left: -20px;
}

main#genres {
  margin-top: 106px;
}
main#genres aside {
  width: calc(25% - 8px);
  position: fixed;
}
main#genres aside ul li {
  cursor: pointer;
}
main#genres aside ul li i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/plus.svg");
  transition: 0.3s;
}
main#genres aside ul li.active i {
  background: url("../img/check.svg");
}
main#genres section {
  width: calc(75% - 8px);
  margin-left: calc(25% - 8px);
}
main#genres section .category {
  margin-top: 24px;
}
main#genres section .category .row img {
  border-radius: 5px;
}

/*# sourceMappingURL=index.css.map */
