%flex {
    display: flex;
    gap: ratio-space(2px);
    flex-wrap: wrap;
}

%grid {
    display: flex;
}

%container {
    padding: 0 ratio-space(2px);
}

%flex-center {
    @extend %flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 ratio-space(2px);
    width: 100%;
}
