$dark: #2A2C2C;
$dark-pink: #D51F4B;
$blue: #5A67A5;
$pink: #DC7D8D;
$light-blue: #80C7DC;
$light-pink: #D3C0CC;
$white: #FFF;

$linear: linear-gradient(180deg, rgba($dark, 0) 0%, $dark 100%);
$reverse-linear: linear-gradient(180deg, $dark 0%, rgba($dark, 0) 100%);

$primary-color: $dark-pink;
$secondary-color: $blue;
