.slider {
    width: fit-content;
    left: 0;
    @extend %grid;
    gap: ratio-space(2px);

    .poster {
        width: 200px;
        height: 275px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    img {
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }
}