.slide {
    @extend %scrollbar;
    overflow-x: auto;

    .slider {
        @extend %grid;
        width: fit-content;
        left: 0;
        gap: ratio-space(2px);

        .poster {
            width: 150px;
            min-height: 200px;
            padding-bottom: ratio-space(2px);
        }
    
        img {
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
        }
    }
}
