header {
    @extend %flex-center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: $reverse-linear;
    height: 90px;

    nav {
        @extend %flex;
        align-items: flex-end;
        justify-content: space-between;
        width: calc(col(11) - ratio-space(2px));

        ul {
            @extend %flex;

            li {
                opacity: .5;
                transition: .2s;

                &.active, &:hover {
                    opacity: 1;
                }
            }
        }
    }    
}

#toggle-menu {
    width: 32px;
    height: 32px;
    background: center / contain url('../img/menu.svg') no-repeat;
    position: fixed;
    top: ratio-space(4px);
    right: ratio-space(4px);
    cursor: pointer;
    display: none;
    transition: .5s;
    z-index: 11;

    &:hover {
        transform: scale(1.1)
    }
}

@media #{$media-down-md} {
    header {
        display: none !important;
        background: $dark;
        height: 100vh;
        flex-direction: column;
        align-items: start !important;
        justify-content: start !important;
        padding: ratio-space(4px);

        nav ul {
            flex-direction: column;
        }

        &.active {
            display: flex !important;

            ~#toggle-menu {
                background-image: url('../img/close.svg');
            }
        }
    }

    #toggle-menu {
        display: block;
    }
}
