header {
    @extend %flex-center;
    position: fixed;
    top: 0;
    z-index: 90;
    width: 100%;
    background: $reverse-linear;
    height: 90px;

    nav {
        @extend %flex;
        align-items: flex-end;
        justify-content: space-between;
        width: calc(col(11) - ratio-space(2px));

        ul, .search-form {
            @extend %flex;

            input {
                background: none;
                border-bottom: solid 1px $white;
            }

            li {
                opacity: .5;
                transition: .2s;

                &.active, &:hover {
                    opacity: 1;
                }
            }
        }
    }

    @media #{$media-down-md} {
        display: none!important;
    }
}
