h1 {
    font-size: rem(80px);
    font-weight: 600;
    font-family: $font-secondary;
    text-transform: uppercase;
}

h2 {
    font-size: rem(24px);
    font-weight: 600;
    font-family: $font-secondary;
    text-transform: capitalize;
    margin-bottom: ratio-space(2px);
}

h3 {
    @extend h2;
    font-size: rem(16px);
    margin-bottom: ratio-space(4px);
}

p {
    line-height: $font-size * 1.5;
}


@media #{$media-down-lg} {
    h1 {
        font-size: rem(50px);
    }
}

@media #{$media-down-sm} {
    h1 {
        font-size: rem(45px);
    }
}