main#home {
    section:first-child {
        @extend %flex;
        background: top / cover url('https://image.tmdb.org/t/p/original/rlCRM7U5g2hcU1O8ylGcqsMYHIP.jpg');
        height: 50vh;
        position: relative;
        align-items: flex-end;

        .container {
            @extend %flex;
            align-items: flex-end;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: ratio-space(8px) col(1);

            h1 {
                max-width: 75%;
            }
        }

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background: $linear;
            z-index: -1;
        }
    }

    section:nth-child(2) {
        @extend %grid;
        justify-content: space-between;
        padding-left: ratio-space(2px);
        position: relative;

        .trends {
            width: 100%;
            padding-top: ratio-space(4px);
            padding-bottom: ratio-space(4px);
            overflow: auto hidden;
            position: relative;
            margin-left: ratio-space(2px);

            &::-webkit-scrollbar {
                height: 5px;
            }
        
            &::-webkit-scrollbar-track-piece {
                background: $light-pink;
                border-radius: 5px;
                margin: col(3);
            }
        
            &::-webkit-scrollbar-thumb {
                transition: .5s;
                background: $primary-color;
                border-radius: 15px;
                box-sizing: content-box;
            }
        
            &::-webkit-scrollbar-thumb:hover {
                background: lighten($primary-color, 15);
            }

            h3 {
                position: fixed;
            }

            .slider {
                margin-top: calc(16px + ratio-space(4px));
            }
        }

        > a {
            @extend %flex;
            position: absolute;
            bottom: 0;
            right: ratio-space(2px);
        }
    }

    @media #{$media-down-xl} {
        section:first-child {
            .container {
                padding: ratio-space(8px) 0;
            }
        }
    }
    @media #{$media-down-lg} {
        section:first-child {
            height: 45vh;

            .container {
               flex-direction: column;
               align-items: flex-start;
            }
        }
    }
}