main#actor {
    margin-top: calc(90px + ratio-space(5px));
    overflow: hidden;
    background: linear-gradient(180deg, rgba($secondary-color, 0) 0%, $secondary-color 100%);
    min-height: calc(100vh - 90px - ratio-space(5px));

    .container {
        @extend %flex;
        .left {
            width: col(5);
            text-align: center;
            max-height: calc(100vh - 90px - ratio-space(5px));
            overflow: auto;
            @extend %scrollbar;

            img {
                width: 350px;
                margin: auto;
                height: 400px;
                object-fit: cover;
                border-radius: 5px;
            }

            .details {
                margin-top: ratio-space(4px);
                text-align: left;
            }
        }

        .right {
            width: col(7);
            padding-left: ratio-space(2px);
            max-height: calc(100vh - 90px - ratio-space(5px));
            overflow: auto;

            .general {
                @extend %flex;
                margin-top: ratio-space(1px);

                li {
                    width: col(3);
                    h3 {
                        margin-bottom: ratio-space(1px);
                    }
                }
            }

            .movies {
                margin-top: ratio-space(4px);
                overflow-y: scroll;
                padding-bottom: ratio-space(2px);

                .populars {
                    padding-bottom: ratio-space(2px);
                    margin-bottom: ratio-space(2px);
                }

                .chronos {
                    width: 100%;
                    ul {
                        @extend %flex;

                        li {
                            width: calc(50% - ratio-space(1px));
                        }
                    }
                }

                &::-webkit-scrollbar {
                    margin-left: -20px;
                }
            }
        }
    }

    @media #{$media-down-md} {
        .container {
            width: calc(100% - ratio-space(2px));

            .left, .right {
                width: calc(100% - ratio-space(2px));
                max-height: fit-content;
                padding: ratio-space(2px) 0;

                .general li {
                    width: 100%;
                }

                .movies {
                    padding: 0;

                    .chronos ul li {
                        width: 100%;
                    }
                }
            }
        }
    }
}
