main#genres {
    @extend %container, %grid;
    justify-content: space-between;
    margin-top: calc(90px + ratio-space(2px));

    section {
        width: 100%;
        padding: 0 ratio-space(2px);

        .category {
            .row {
                @extend %flex, %scrollbar;
                justify-content: space-between;
                height: 100%;
                max-height: calc(100vh - 90px - ratio-space(2px) - 24px - 16px - 16px - 32px);
                overflow: auto;

                img {
                    border-radius: 5px;
                    object-fit: cover;
                }
            }
        }
    }

    @media #{$media-down-md} {
        aside {
            // width: calc(100% - ratio/-space(2px));
            display: none;
        }

        section {
            .category .row {
                .poster {
                    width: calc(25% - ratio-space(2px));
                    min-width: 140px;
                }
            }
        }
    }

    @media #{$media-down-sm} {
        section {
            .category .row {
                .poster {
                    width: calc(50% - ratio-space(1px));
                }
            }
        }
    }
}
