main#genres {
    @extend %container, %grid;
    justify-content: space-between;
    margin-top: calc(90px + ratio-space(2px));
    
    aside .toggle-genres {
        display: none;
    }

    section {
        width: 100%;
        padding: 0 ratio-space(2px);

        .category {
            @extend %flex;
            justify-content: space-between;

            h3 {
                width: calc(50% - ratio-space(1px));
            }

            .toggle-genres {
                cursor: pointer;
                font-style: italic;
                display: none;
            }

            .row {
                @extend %flex, %scrollbar;
                justify-content: space-between;
                height: 100%;
                max-height: calc(100vh - (90px + ratio-space(2px)) - (1rem + ratio-space(4px)) - (1.5rem + ratio-space(2px)) - ratio-space(2px)); // 100 - header - h3 - h2 - gap 
                overflow: auto;
                padding-right: ratio-space(1px);

                img {
                    border-radius: 5px;
                    object-fit: cover;
                }
            }
        }
    }

    @media #{$media-down-md} {
        aside {
            display: none;
            position: fixed;
            background: $dark;
            z-index: 12;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: ratio-space(4px);
            padding-top: calc(90px + ratio-space(2px) + 16px + 1.5rem);

            &.active {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;
            }

            .toggle-genres {
                cursor: pointer;
                font-style: italic;
                display: inline;
            }

            .categories {
                width: 100%;
            }
        }

        section {
            .category {
                .toggle-genres {
                    display: inline;
                }
                
                .row {
                    .poster {
                        width: calc(25% - ratio-space(2px));
                        min-width: 140px;
                    }
                }
            }
        }
    }

    @media #{$media-down-sm} {
        section {
            .category .row {
                .poster {
                    width: calc(50% - ratio-space(1px));
                }
            }
        }
    }
}
