main#home {
    section:first-child {
        @extend %flex;
        background: 50% 15% / cover url('https://image.tmdb.org/t/p/original/rlCRM7U5g2hcU1O8ylGcqsMYHIP.jpg');
        height: 45vh;
        position: relative;
        align-items: flex-end;

        .container {
            @extend %flex;
            align-items: flex-end;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 90px col(1) ratio-space(8px) col(1);

            h1 {
                max-width: 75%;
            }
        }

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background: $linear;
            z-index: -1;
        }
    }

    section:nth-child(2) {
        @extend %grid;
        justify-content: space-between;
        padding-left: ratio-space(2px);
        position: relative;

        .trends {
            width: calc(100% - ratio-space(2px));
            overflow: hidden;
            position: relative;
            margin-left: ratio-space(2px);
        }

        > a {
            @extend %flex;
            position: absolute;
            right: ratio-space(2px);
        }
    }

    @media #{$media-down-lg} {
        section:first-child {
            height: 45vh;

            .container {
                h1 {
                    width: 60%;
                }
            }
        }

        section:nth-child(2) {
            flex-direction: column;
            aside {
                width: calc(100% - ratio-space(2px));
            }
        }
    }

    @media #{$media-down-md} {
        section:first-child {
            height: 85vh;

            .container {
                flex-direction: column;
                align-items: flex-start;

                h1 {
                    width: 100%;
                }
            }
        }
    }
}